body{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}
.img-link{
    text-decoration: none;
    color: black;
}
.container-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container-logo a{
    color: #0065FC;
    text-decoration: none;
    font-weight: bold;
}
.filter-item{
    transition: all 400ms ease-in-out;
}
.filter-item i{
    transition: all 400ms ease-in-out;
}
.filter-item:hover{
    background-color: #0065FC;
    color: #F2F2F2;
}
.filter-item:hover i{
    background-color: #0065FC;
    color: black;
}
.search-form-desktop{
    display: flex;
    margin-bottom: 30px;
}
.cannebiere{
    background-image: url("../../assets/images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}
.port{
    background-image: url("../../assets/images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}
.mouettes{
    background-image: url("../../assets/images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}
.mer{
    background-image: url("../../assets/images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}
.panier{
    background-image: url("../../assets/images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}
.amina{
    background-image: url("../../assets/images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}
.port{
    background-image: url("../../assets/images/activites/4_small/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}
.pomègues{
    background-image: url("../../assets/images/activites/4_small/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}
.frioul{
    background-image: url("../../assets/images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}
.calanques{
    background-image: url("../../assets/images/activites/4_small/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}
.garde{
    background-image: url("../../assets/images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}
.longchamp{
    background-image: url("../../assets/images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}
.accomodation-notation ul{
    color: #0065FC;
}
.onestar li:last-child{
    color: #F2F2F2;
}
.twosar li:nth-child(1n+4){
    color: #F2F2F2;
}
.star li:last-child{
    color: #DEEBFF;
}
/*Mobile design*/
@media screen and (min-width: 320px) and (max-width: 640px) {
    .nav-desktop{
        display: none;
    }
    /*Header*/
    .container-logo{
        padding: 30px 20px;
    }
    /*Navbar*/
    .navbar{
        margin-bottom: 20px;
    }
    .navbar ul{
        display: flex;
        justify-content: space-around;
    }
    .navbar li{
        width: 50%;
        text-align: center;
        border-bottom: solid 2px;
        padding-bottom: 15px;
    }
    .navbar li:hover{
        border-bottom: solid 2px #0065FC;
    }
    .navbar a{
        text-decoration: none;
        color: black;
    }
    .navbar a:hover{
        color: #0065FC;
    }
    /*Container Search and Filters*/
    .container-search-filters{
        padding: 20px 20px;
    }
    .container-search-filters h1{
        font-size: 20px;
        font-weight: bold;
        word-spacing: 2px;
        margin-bottom: 20px;
    }
    .container-search-filters p{
        margin-bottom: 20px;
        display: flex;
        align-items: center;
    }
    .search-form-desktop{
        display: none;
    }
    .search-form{
        display: flex;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .search-form input{
        padding-left: 20px;
        color: black;
        font-weight: bold;
        width: 70%;
        border: solid 1px #F2F2F2;
    }
    .fas{
        display: flex !important;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .fa-map-marker-alt{
        background-color: #F2F2F2;
        width: 50px;
        height: 50px;
        border-radius: 20px 0 0 20px;
    }
    .fa-search{
        background-color: #0065FC;
        width: 50px;
        height: 50px;
        border-radius: 0 20px 20px 0;
        right: 30px;
    }
    /*Filter container*/
    .filters{
        margin-bottom: 30px;
    }
    .filters span{
        font-weight: bold;
        margin-bottom: 15px;
    }
    .filter-item-group{
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }
    .filter-item{
        display: flex;
        border: solid 2px #F2F2F2;
        border-radius: 40px;
        padding-right: 10px;
        margin-bottom: 15px;
    }
    .filter-item p{
        font-size: 10px;
        margin-bottom: 0;
    }
    .filter-item i{
        background-color: #DEEBFF;
        color: #0065FC;;
        font-size: 30px;
        padding: 12px 10px;
        border-radius: 50%;
        margin-right: 10px;
    }
    .fa-child{
        background-color: #DEEBFF;
        color: #0065FC;;
        font-size: 30px;
        padding: 10px 13px !important;
        border-radius: 50%;
    }
    /*infos*/
    .infos{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .infos li{
        display: none;
    }
    .infos li:last-child{
        display: block;
    }
    .infos p{
        font-size: 15px;
        margin-bottom: 0;
    }
    .fa-info-circle{
        background-color: white;
        color: #0065FC;
        margin-right: 20px;
    }
    /*The most popular container*/
    .container-popular{
        background-color: #F2F2F2;
        padding: 40px 20px;
    }
    .popular-item{
        background-color: white;
        display: flex;
        padding: 5px;
        border-radius: 20px;
        margin-bottom: 10px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .popular-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-title i{
        font-size: 30px;
    }
    .popular-item img{
        width: 130px;
        height: 130px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    .popular-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .popular-note{
        display: flex;
        color: #0065FC;
        margin-top: 15px;
    }
    .popular-note ul{
        display: flex;
    }
    .star li:last-child{
    color: #DEEBFF;
    }
    /*Accomodation container*/
    .container-accomodation{
        padding: 40px 20px;
    }
    .container-accomodation h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .accomodaton-item{
        padding: 5px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 10px;
    }
    .accomodation-bg{
        height: 110px;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 10px;
    }

    .accomodaton-item h3, p{
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .accomodation-notation{
        color: #0065FC;
    }
    .accomodation-notation ul{
        display: flex;
    }
    .accomodation-content ul{
        padding-left: 10px;
    }
    .accomodation-content li{
        margin-bottom: 10px;
    }
    .accomodation-content li:first-child{
        font-weight: bold;
    }
    /*.onestar li:last-child{*/
    /*    color: #DEEBFF;*/
    /*}*/
    /*.twosar li:nth-child(1n+4){*/
    /*    color: #DEEBFF;*/
    /*}*/
    .container-accomodation aside{
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
    }
    .container-accomodation a{
        text-decoration: none;
        color: black;
    }
    .container-activity{
        padding: 40px 20px;
    }
    .container-activity h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .activity-item{
        border-radius: 20px ;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 20px;
    }
    .activity-bg{
        height: 130px;
        border-radius: 20px 20px 0 0;
        background-position: center;
        background-size: cover;
    }
    .activity-title{
        padding: 20px;
    }
    .activity-title h3{
        font-size: 15px;
        font-weight: bold;
    }
    /*footer*/
    footer{
        background-color: #F2F2F2;
        padding: 50px 30px;
    }
    footer h3{
        margin-bottom: 30px;
        font-weight: bold;
    }
    footer a{
        color: black;
        text-decoration: none;
    }
    footer ul{
        margin-bottom: 30px;
    }
    footer li{
        margin-bottom: 20px;
    }
}
/*Tablet design*/
@media screen and (min-width: 640px) and (max-width: 1024px){
    /*container logos*/
    .container-logo{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav-desktop{
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;
    }
    /*Navbar container*/
    nav{
        display: flex;
        align-items: center;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    nav li{
        margin-right: 60px;
        width: 50%;
    }
    nav li:last-child{
        margin-right: 0;
    }
    nav a{
        text-decoration: none;
        color: black;
    }
    nav span{
        font-weight: bold;
    }
    .subscription-span a{
        color: #0065FC;
    }
    /*container filters*/
    .container-search-filters{
        padding: 0 20px;
    }
    .container-search-filters h1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .container-search-filters p{
        font-size: 15px;
        padding-left: 0;
        margin-bottom: 20px;
    }
    .search-form{
        display: flex;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .search-form-desktop{
        display: none;
    }
    .search-form input{
        padding-left: 20px;
        color: black;
        font-weight: bold;
        width: 70%;
        border: solid 1px #F2F2F2;
    }
    .fas{
        display: flex !important;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .fa-map-marker-alt{
        background-color: #F2F2F2;
        width: 50px;
        height: 50px;
        border-radius: 20px 0 0 20px;
    }
    .fa-search{
        background-color: #0065FC;
        width: 50px;
        height: 50px;
        border-radius: 0 20px 20px 0;
    }
    .filters{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .filters span{
        font-weight: bold;
        margin-right: 30px;
    }
    .filters div{
        display: flex;
    }
    .filter-item{
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        border: solid 2px #F2F2F2;
        border-radius: 30px;
        margin-right: 5px;
    }
    .filter-item p{
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .filters i{
        background-color: #DEEBFF;
        margin-right: 25px;
        padding: 15px;
        border-radius: 50%;
    }
    /*infos container*/
    .infos{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .infos li{
        color: #0065FC;
        margin-right: 10px;
    }
    .infos i{
        padding: 10px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        margin-right: 10px;
    }
    .infos p{
        margin-bottom: 0;
    }
    /*the most popular container*/
    .container-popular{
        background-color: #F2F2F2;
        padding: 40px 20px;
    }
    .popular-item{
        background-color: white;
        display: flex;
        padding: 5px;
        border-radius: 20px;
        margin-bottom: 10px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .popular-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-title i{
        font-size: 30px;
    }
    .popular-item img{
        width: 130px;
        height: 130px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    .popular-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .popular-item p{
        margin-bottom: 40px;
    }
    .popular-note{
        display: flex;
        color: #0065FC;
    }
    .popular-note ul{
        display: flex;
    }
    /*.star li:last-child{*/
    /*    color: #DEEBFF;*/
    /*}*/
    /*accomodation container*/
    .container-accomodation{
        padding: 40px 20px;
    }
    .container-accomodation h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .accomodaton-item{
        padding: 5px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 10px;
    }
    .accomodation-bg{
        height: 110px;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 10px;
    }
    .accomodaton-item h3, p{
        padding-left: 10px;
        margin-bottom: 10px;
    }
    .accomodation-notation{
        color: #0065FC;
    }
    .accomodation-notation ul{
        display: flex;
    }
    .accomodation-content ul{
        padding-left: 10px;
    }
    .accomodation-content li{
        margin-bottom: 10px;
    }
    .accomodation-content li:first-child{
        font-weight: bold;
    }
    /*.onestar li:last-child{*/
    /*    color: #DEEBFF;*/
    /*}*/
    /*.twosar li:nth-child(1n+4){*/
    /*    color: #DEEBFF;*/
    /*}*/
    .container-accomodation aside{
        margin-top: 40px;
        font-size: 20px;
        font-weight: bold;
    }
    .container-accomodation a{
        text-decoration: none;
        color: black;
    }
    /*container activity*/
    .container-activity{
        padding: 40px 20px;
    }
    .container-activity h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .activity-item{
        border-radius: 20px ;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 20px;
    }
    .activity-bg{
        height: 130px;
        border-radius: 20px 20px 0 0;
        background-position: center;
        background-size: cover;
    }
    .activity-title{
        padding: 20px;
    }
    .activity-title h3{
        font-size: 15px;
        font-weight: bold;
    }
    /*footer*/
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .footer-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .footer-item li{
        margin-bottom: 20px;
    }
    .footer-item a{
        text-decoration: none;
        color: black;
    }
}
/*Tablet L design*/
@media screen and (min-width: 1024px) and (max-width: 1439px) {
    /*topbar*/
    .container-logo{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav-desktop{
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }
    .container-logo-desktop img{
        padding: 35px 0;
    }
    /*navabr*/
    nav{
        height: 100%;
        display: flex;
        align-items: center;
    }
    nav ul{
        display: flex;
        align-items: center;
    }
    nav li{
        width: 50%;
        margin-right: 60px;
        padding-top: 50px;
    }
    nav li:hover{
        border-top: solid 1px #0065FC;

    }
    nav li:last-child{
        margin-right: 0;
        border-top: none;
    }
    nav a {
        text-decoration: none;
        color: black;
    }
    nav a:hover{
        color: #0065FC;;
    }
    nav span{
        height: 100%;
        text-decoration: none;
        color: black;
        font-weight: bold;
        margin-right: 0;
    }
    .subscription-span a{
        color: #0065FC;
    }
    /*search and filter container*/
    .container-search-filters{
        padding: 0 50px;
    }
    .container-search-filters h1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .container-search-filters p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .search-form{
        display: none;
    }
    .search-form-desktop{
        display: flex;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .search-form-desktop i{
        height: 50px;
        width: 50px;
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 20px;
    }
    .search-input{
        height: 50px;
        width: 230px;
        text-align: center;
        font-weight: bold;
    }
    .search-btn{
        background-color: #0065FC;
        color: white;
        height: 50px;
        border: solid 0;
        padding: 20px;
        border-radius: 0 20px 20px 0;
    }
    .filters{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .filters span{
        font-weight: bold;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .filters div{
        display: flex;
        margin-right: 20px;
    }
    .filter-item{
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        border: solid 2px #F2F2F2;
        border-radius: 30px;
    }
    .filter-item p{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .filters i{
        background-color: #DEEBFF;
        margin-right: 25px;
        padding: 15px;
        border-radius: 50%;
    }
    /*infos container*/
    .infos{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .infos li{
        color: #0065FC;
        margin-right: 10px;
    }
    .infos i{
        padding: 10px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        margin-right: 10px;
    }
    .infos p{
        margin-bottom: 0;
    }
    /*the most popular container and acommodation*/
    .container-accomodation-popular{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: 60px;
    }
    .container-popular{
        background-color: #F2F2F2;
        padding: 50px 30px;
        border-radius: 20px;
    }
    .container-accomodation{
        background-color: #F2F2F2;
        padding: 50px 40px;
        border-radius: 20px;
        margin-right: 20px;
    }
    .container-accomodation p{
        font-weight: bold;
        font-size: 20px;
    }
    .accomodation-item-group{
        display: flex;
    }
    .accomodation-bg{
        height: 110px;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 20px;
    }
    .accomodaton-item{
       background-color: white;
        padding: 5px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .accomodation-notation ul{
        display: flex;
    }
    .accomodation-content span{
        font-weight: bold;
        font-size: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    /*.accomodation-content p{*/
    /*    margin-bottom: 10px;*/
    /*    font-size: 10px;*/
    /*    font-weight: 300;*/
    /*}*/
    .accomodation-content li:last-child{
        font-weight: 300;
    }
    .accomodation-notation ul{
        color: #0065FC;
    }
    /*.onestar li:last-child{*/
    /*    color: #F2F2F2;*/
    /*}*/
    /*.twosar li:nth-child(1n+4){*/
    /*    color: #F2F2F2;*/
    /*}*/
    .container-accomodation a{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .popular-item{
        background-color: white;
        display: flex;
        padding: 5px;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .popular-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-item h3{
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .popular-item p{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .popular-item img{
        width: 130px;
        height: 130px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    .popular-note ul{
        display: flex;
        color: #0065FC;
    }
    /*.star li:last-child{*/
    /*    color: #F2F2F2;*/
    /*}*/
    /*activity container*/
    .container-activity{
        padding: 0 50px;
    }
    .container-activity h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .container-activity-group{
        display: flex;
        justify-content: space-between;
    }
    .activity-bg{
        width: 200px;
        height: 100px;
        background-position: center;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }
    .activity-item-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activity-item{
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 50px;
    }
    .activity-item-big{
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    .activity-bg-big{
        width: 200px;
        height: 350px;
        background-color: white;
        border-radius: 20px 20px 0 0;
    }
    .activity-title{
        padding: 10px 15px;
        font-weight: bold;
    }
    .activity-title h3 {
        font-size: 10px;
    }
    /*footer*/
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        padding: 50px 300px 50px 50px;
    }
    .footer-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .footer-item li{
        margin-bottom: 20px;
    }
    .footer-item a{
        text-decoration: none;
        color: black;
    }
}
/*DESKTOP design*/
@media screen and (min-width: 1440px) and (max-width: 1919px) {
    /*topbar*/
    .container-logo{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav-desktop{
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
    }
    .container-logo-desktop img{
        width: 200px;
        padding: 35px 0;
    }
    /*navabr*/
    nav{
        height: 100%;
        display: flex;
        align-items: center;
    }
    nav ul{
        /*height: 100%;*/
        display: flex;
        align-items: center;
    }
    nav li{
        /*height: 100%;*/
        width: 50%;
        margin-right: 60px;
        padding-top: 70px;
    }
    nav li:hover{
        border-top: solid 1px #0065FC;

    }
    nav li:last-child{
        margin-right: 0;
        border-top: none;
    }
    nav a {
        /*padding-top: 50px;*/
        text-decoration: none;
        color: black;
        font-size: 20px;
    }
    nav a:hover{
        color: #0065FC;;
    }
    nav span{
        height: 100%;
        text-decoration: none;
        color: black;
        /*padding-top: 50px;*/
        font-weight: bold;
        margin-right: 0;
    }
    .subscription-span a{
        color: #0065FC;
    }
    /*search and filters*/
    .container-search-filters{
        padding: 0 50px;
    }
    .container-search-filters h1{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .container-search-filters p{
        font-size: 15px;
        margin-bottom: 20px;
    }
    .search-form{
        display: none;
    }
    .search-form-desktop{
        display: flex;
        margin-bottom: 30px;
        margin-top: 20px;
    }
    .search-form-desktop i{
        height: 50px;
        width: 50px;
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 20px;
    }
    .search-input{
        height: 50px;
        width: 300px;
        text-align: center;
        font-weight: bold;
    }
    .search-btn{
        background-color: #0065FC;
        color: white;
        height: 50px;
        border: solid 0;
        padding: 20px 30px;
        border-radius: 0 20px 20px 0;
    }
    .filters{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .filters span{
        font-size: 20px;
        font-weight: bold;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .filters div{
        display: flex;
        margin-right: 20px;
    }
    .filter-item{
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        border: solid 2px #F2F2F2;
        border-radius: 30px;
    }
    .filter-item p{
        font-weight: bold;
        margin-bottom: 0;
    }
    .filters i{
        background-color: #DEEBFF;
        margin-right: 25px;
        padding: 15px;
        border-radius: 50%;
    }
    /*infos container*/
    .infos{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .infos li{
        color: #0065FC;
        margin-right: 10px;
    }
    .infos i{
        padding: 20px;
        font-size: 25px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        margin-right: 10px;
    }
    .infos p{
        margin-bottom: 0;
    }
    /*the most popular container and accomodation*/
    .container-accomodation-popular{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: 60px;
    }
    .container-popular{
        background-color: #F2F2F2;
        padding: 50px 30px;
        border-radius: 20px;
    }
    .container-accomodation{
        background-color: #F2F2F2;
        padding: 50px 40px;
        border-radius: 20px;
        margin-right: 20px;
    }
    .container-accomodation h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .accomodation-item-group{
        display: flex;
    }
    .accomodation-bg{
        height: 110px;
        width: 200px;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 20px;
    }
    .accomodaton-item{
        background-color: white;
        padding: 5px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .accomodation-notation ul{
        display: flex;
    }
    .accomodation-content ul{
        padding-left: 10px;
    }
    .accomodation-content li{
        margin-bottom: 10px;
    }
    .accomodation-content li:first-child{
        font-weight: bold;
    }
    .accomodation-notation ul{
        color: #0065FC;
    }
    .onestar li:last-child{
        color: #F2F2F2;
    }
    .twosar li:nth-child(1n+4){
        color: #F2F2F2;
    }
    .accomodation-info{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .popular-item{
        background-color: white;
        display: flex;
        padding: 5px;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .popular-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-item h3{
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .popular-item p{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .popular-item img{
        width: 130px;
        height: 130px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    .popular-note ul{
        display: flex;
        color: #0065FC;
    }
    .star li:last-child{
        color: #F2F2F2;
    }
    /*activiry container*/
    .container-activity{
        padding: 0 50px;
    }
    .container-activity h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .container-activity-group{
        display: flex;
        justify-content: space-between;
    }
    .activity-bg{
        width: 300px;
        height: 180px;
        background-position: center;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }
    .activity-item-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activity-item{
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 50px;
    }
    .activity-item-big{
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    .activity-bg-big{
        width: 300px;
        height: 450px;
        background-color: white;
        border-radius: 20px 20px 0 0;
    }
    .activity-title{
        padding: 10px 15px;
        font-weight: bold;
    }
    .activity-title h3 {
        font-size: 10px;
    }
    /*footer*/
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .footer-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .footer-item li{
        margin-bottom: 20px;
    }
    .footer-item a{
        text-decoration: none;
        color: black;
    }
}
@media only screen and (min-width : 1920px) and (max-width: 2560px){
    /*topbar*/
    .container-logo{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav-desktop{
        /*height: 150px;*/
        display: flex;
        justify-content: space-between;
        padding: 0 80px 0 50px;
    }
    .container-logo-desktop img{
        width: 400px;
        padding: 35px 0;
    }
    /*navabr*/
    nav{
        height: 100%;
        display: flex;
        align-items: center;
    }
    nav ul{
        /*height: 100%;*/
        display: flex;
        align-items: center;
    }
    nav li{
        /*height: 100%;*/
        width: 50%;
        margin-right: 60px;
        padding-top: 140px;
    }
    nav li:hover{
        border-top: solid 1px #0065FC;

    }
    nav li:last-child{
        margin-right: 0;
        border-top: none;
    }
    nav a {
        /*padding-top: 50px;*/
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
    nav a:hover{
        color: #0065FC;;
    }
    nav span{
        height: 100%;
        text-decoration: none;
        color: black;
        /*padding-top: 50px;*/
        font-weight: bold;
        margin-right: 0;
    }
    .subscription-span a{
        color: #0065FC;
    }
    /*search container*/
    .container-search-filters{
        padding: 0 50px;
    }
    .container-search-filters h1{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .container-search-filters p{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .search-form{
        display: none;
    }
    .search-form-desktop{
        display: flex;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .search-form-desktop i{
        height: 50px;
        width: 50px;
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 20px;
    }
    .search-input{
        height: 50px;
        width: 400px;
        text-align: center;
        font-weight: bold;
    }
    .search-btn{
        background-color: #0065FC;
        color: white;
        height: 50px;
        border: solid 0;
        padding: 20px 30px;
        border-radius: 0 20px 20px 0;
    }
    /*filters container*/
    .filters{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .filters span{
        font-size: 30px;
        font-weight: bold;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .filters div{
        display: flex;
        margin-right: 20px;
    }
    .filter-item{
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        border: solid 2px #F2F2F2;
        border-radius: 30px;
    }
    .filter-item p{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .filters i{
        background-color: #DEEBFF;
        margin-right: 25px;
        padding: 15px;
        border-radius: 50%;
    }
    /*infos*/
    .infos{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .infos li{
        color: #0065FC;
        margin-right: 10px;
    }
    .infos i{
        padding: 20px;
        font-size: 25px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        margin-right: 10px;
    }
    .infos p{
        margin-bottom: 0;
    }
    /*accomodation container*/
    .container-accomodation-popular{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: 60px;
    }
    .container-popular{
        background-color: #F2F2F2;
        padding: 50px 30px;
        border-radius: 20px;
    }
    .container-accomodation{
        background-color: #F2F2F2;
        padding: 50px 40px;
        border-radius: 20px;
        margin-right: 20px;
    }
    .container-accomodation h3{
        font-weight: bold;
    }
    .accomodation-item-group{
        display: flex;
    }
    .accomodation-bg{
        height: 220px;
        width: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 20px;
    }
    .accomodaton-item{
        background-color: white;
        padding: 5px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .accomodation-notation ul{
        display: flex;
    }
    .accomodation-content ul{
        padding-left: 10px;
    }
    .accomodation-content li{
        margin-bottom: 10px;
    }
    .accomodation-content li:first-child{
        font-weight: bold;
    }
    .accomodation-notation ul{
        color: #0065FC;
    }
    .onestar li:last-child{
        color: #F2F2F2;
    }
    .twosar li:nth-child(1n+4){
        color: #F2F2F2;
    }
    .accomodation-info{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .popular-item{
        background-color: white;
        display: flex;
        padding: 5px;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .popular-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-item h3{
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .popular-item p{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .popular-item img{
        width: 130px;
        height: 130px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    .popular-note ul{
        display: flex;
        color: #0065FC;
    }
    .star li:last-child{
        color: #F2F2F2;
    }
    /*the most popular container*/
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-item h3{
        font-size: 20px;
    }
    .popular-item img{
        width: 300px;
        height: 200px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    /*activity container*/
    .container-activity{
        padding: 0 50px;
    }
    .container-activity h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .container-activity-group{
        display: flex;
        justify-content: space-between;
    }
    .activity-bg{
        width: 400px;
        height: 250px;
        background-position: center;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }
    .activity-item-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activity-item{
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 50px;
    }
    .activity-item-big{
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    .activity-bg-big{
        width: 400px;
        height: 700px;
        background-color: white;
        border-radius: 20px 20px 0 0;
    }
    .activity-title{
        padding: 10px 15px;
        font-weight: bold;
    }
    .activity-title h3 {
        font-size: 10px;
    }
    /*footer*/
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .footer-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .footer-item li{
        margin-bottom: 20px;
    }
    .footer-item a{
        text-decoration: none;
        color: black;
    }
}
@media only screen and (min-width : 2560px){
    /*topbar*/
    .container-logo{
        display: none;
    }
    .navbar{
        display: none;
    }
    .nav-desktop{
        /*height: 150px;*/
        display: flex;
        justify-content: space-between;
        padding: 0 80px 0 50px;
    }
    .container-logo-desktop img{
        width: 400px;
        padding: 35px 0;
    }
    /*navabr*/
    nav{
        height: 100%;
        display: flex;
        align-items: center;
    }
    nav ul{
        /*height: 100%;*/
        display: flex;
        align-items: center;
    }
    nav li{
        /*height: 100%;*/
        width: 50%;
        margin-right: 60px;
        padding-top: 140px;
    }
    nav li:hover{
        border-top: solid 1px #0065FC;

    }
    nav li:last-child{
        margin-right: 0;
        border-top: none;
    }
    nav a {
        /*padding-top: 50px;*/
        text-decoration: none;
        color: black;
        font-size: 30px;
    }
    nav a:hover{
        color: #0065FC;;
    }
    nav span{
        height: 100%;
        text-decoration: none;
        color: black;
        /*padding-top: 50px;*/
        font-weight: bold;
        margin-right: 0;
    }
    .subscription-span a{
        color: #0065FC;
    }
    /*search container*/
    .container-search-filters{
        padding: 0 50px;
    }
    .container-search-filters h1{
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 15px;
    }
    .container-search-filters p{
        font-size: 30px;
        margin-bottom: 20px;
    }
    .search-form{
        display: none;
    }
    .search-form-desktop{
        display: flex;
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .search-form-desktop i{
        height: 50px;
        width: 50px;
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px 0 0 20px;
    }
    .search-input{
        height: 50px;
        width: 400px;
        text-align: center;
        font-weight: bold;
    }
    .search-btn{
        background-color: #0065FC;
        color: white;
        height: 50px;
        border: solid 0;
        padding: 20px 30px;
        border-radius: 0 20px 20px 0;
    }
    /*filters container*/
    .filters{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .filters span{
        font-size: 30px;
        font-weight: bold;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .filters div{
        display: flex;
        margin-right: 20px;
    }
    .filter-item{
        display: flex;
        align-items: center;
        padding: 0 10px 0 0;
        border: solid 2px #F2F2F2;
        border-radius: 30px;
    }
    .filter-item p{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0;
    }
    .filters i{
        background-color: #DEEBFF;
        margin-right: 25px;
        padding: 15px;
        border-radius: 50%;
    }
    /*infos*/
    .infos{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
    }
    .infos li{
        color: #0065FC;
        margin-right: 10px;
    }
    .infos i{
        padding: 20px;
        font-size: 25px;
        color: #0065FC;
        border: solid 1px #F2F2F2;
        border-radius: 50%;
        margin-right: 10px;
    }
    .infos p{
        margin-bottom: 0;
    }
    /*accomodation container*/
    .container-accomodation-popular{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 0 50px;
        margin-bottom: 60px;
    }
    .container-popular{
        background-color: #F2F2F2;
        padding: 50px 30px;
        border-radius: 20px;
    }
    .container-accomodation{
        background-color: #F2F2F2;
        padding: 50px 40px;
        border-radius: 20px;
        margin-right: 20px;
    }
    .container-accomodation h3{
        font-weight: bold;
    }
    .accomodation-item-group{
        display: flex;
    }
    .accomodation-bg{
        height: 300px;
        width: 450px;
        background-size: cover;
        background-position: center;
        border-radius: 20px 20px 0 0;
        margin-bottom: 20px;
    }
    .accomodaton-item{
        background-color: white;
        padding: 5px;
        margin-right: 30px;
        margin-bottom: 30px;
        border-radius: 20px;
    }
    .accomodation-notation ul{
        display: flex;
    }
    .accomodation-content ul{
        padding-left: 10px;
    }
    .accomodation-content li{
        margin-bottom: 10px;
    }
    .accomodation-content li:first-child{
        font-weight: bold;
    }
    .accomodation-notation ul{
        color: #0065FC;
    }
    .onestar li:last-child{
        color: #F2F2F2;
    }
    .twosar li:nth-child(1n+4){
        color: #F2F2F2;
    }
    .accomodation-info{
        color: black;
        font-weight: bold;
        text-decoration: none;
    }
    .popular-item{
        background-color: white;
        display: flex;
        padding: 5px;
        margin-bottom: 30px;
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
    }
    .popular-title{
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-item h3{
        font-size: 12px;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 10px;
    }
    .popular-item p{
        margin-bottom: 20px;
        padding-left: 0;
    }
    .popular-note ul{
        display: flex;
        color: #0065FC;
    }
    .star li:last-child{
        color: #F2F2F2;
    }
    /*the most popular container*/
    .popular-title h2{
        font-size: 20px;
        font-weight: bold;
    }
    .popular-item h3{
        font-size: 20px;
    }
    .popular-item img{
        width: 250px;
        height: 250px;
        border-radius: 20px 0 0 20px;
        margin-right: 20px;
    }
    /*activity container*/
    .container-activity{
        padding: 0 50px;
    }
    .container-activity h2{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .container-activity-group{
        display: flex;
        justify-content: space-between;
    }
    .activity-bg{
        width: 450px;
        height: 250px;
        background-position: center;
        background-size: cover;
        border-radius: 20px 20px 0 0;
    }
    .activity-item-group{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activity-item{
        border-radius: 20px;
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        margin-bottom: 50px;
    }
    .activity-item-big{
        box-shadow: 6px 5px 20px -1px rgba(0,0,0,0.4);
        border-radius: 20px;
    }
    .activity-bg-big{
        width: 450px;
        height: 700px;
        background-color: white;
        border-radius: 20px 20px 0 0;
    }
    .activity-title{
        padding: 10px 15px;
        font-weight: bold;
    }
    .activity-title h3 {
        font-size: 20px;
    }
    /*footer*/
    footer{
        background-color: #F2F2F2;
        display: flex;
        justify-content: space-between;
        padding: 50px;
    }
    .footer-item h3{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    .footer-item li{
        margin-bottom: 20px;
    }
    .footer-item a{
        text-decoration: none;
        color: black;
    }
}
